body {
    font-family: sans-serif;
    text-align: center;
    background: rgb(82, 86, 119);
    align-items: center;
}

.container {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


button {
    width: 150px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

button:hover {
    background-color: rgb(212, 212, 212);
}