* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: rgb(82, 86, 119) ;
}
a {
    text-decoration: none;
    color: white;
}
.logo {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(82, 86, 119, 0.7);
}
.header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    flex-wrap: wrap;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
    background: black;
    border-radius: 5px;
}
.principal {
    text-align: start;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div h1 {
    font-size: 14pt;
    padding: 5px;
}
div p {
    font-size: 11pt;
    padding: 5px;
}
div#por {
    display: none;
    text-align: start;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div#res {
    display: none;
    text-align: start;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div#exp {
    display: none;
    text-align: start;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.rodape {
    background: white;
    text-align: center;
    bottom: 0px;
    width: 100%;
    position: fixed;
}
.rodape p {
    padding: 10px;
    color: black;
    font-size: 0.7rem;
}
.button {
    text-align: center;
}
.button button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}
span#traducao {
    display: none;
}
span#resposta {
    display: none;
}
span#explicacao {
    display: none;
}